<html lang="pt" class='dark'>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/css/output.css' | relative_url }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    </head>
    <body class='bg-gradient-to-b from-white to-orange-400 dark:from-black dark:to-orange-900'>
        <nav class="h-16 flex justify-end items-center">
            <marquee behavior="" direction="">
                <a class="mx-2" href="/">home</a>
                <a class="mx-2" href="/blog">blog</a>
                <a class="mx-2" href="https://informasus.ufscar.br/distanciamento-social/" target='_blank'>contato</a>
            </marquee>
        </nav>
        <section class="px-8 min-h-screen w-full">{{ content }}</section>
        {% include footer.html %}
    </body>
</html>
